h2{
    padding: 10px;
    font-size: 30px;
}

button{
    display: flex;
    margin: auto;
    text-align: center;
    background-color: #e7e7e7; color: black;
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #000000;
    transition-duration: 0.1s;
 }
 
button:hover{
     border-color: #06506d;
     background-color: #0d4a83;
     color: white;
 }

.upload-container{
    margin: auto;
    padding-top: 10px;
    border-radius: 10px;
    width: 40%;
    background-color: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
}

.upload-category{
    display: flex;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    width: 150px;
    padding: 5px;
}

.upload-category-label{
    display: block;
    margin: auto;
    text-align: center;
}

.text-box{
    display: block;
    margin: auto;
    text-align: center;
}