<h1 id="frendz">Hello Frendz!</h1>

<div class="checkbox-section">
  <section>
    <mat-checkbox class="checkbox-margin" checked={{boxes.all}} (click)="allCheck()"></mat-checkbox><span class="all-label" (click)="allCheck()">All</span>
    <mat-checkbox class="checkbox-margin" checked={{boxes.movies}} (click)="moviesCheck()"></mat-checkbox><span (click)="moviesCheck()">Movies </span><mat-icon class="filter-icons" (click)="moviesCheck()">movie</mat-icon>
    <mat-checkbox class="checkbox-margin" checked={{boxes.shows}} (click)="showsCheck()"></mat-checkbox><span (click)="showsCheck()">Shows </span><mat-icon class="filter-icons" (click)="showsCheck()">slideshow</mat-icon>
    <mat-checkbox class="checkbox-margin" checked={{boxes.games}} (click)="gamesCheck()"></mat-checkbox><span (click)="gamesCheck()">Games </span><mat-icon class="filter-icons" (click)="gamesCheck()">games</mat-icon>
    <mat-checkbox class="checkbox-margin" checked={{boxes.programs}} (click)="programsCheck()"></mat-checkbox><span (click)="programsCheck()">Programs </span><mat-icon class="filter-icons" (click)="programsCheck()">mouse</mat-icon>
    <mat-checkbox class="checkbox-margin" checked={{boxes.other}} (click)="otherCheck()"></mat-checkbox><span (click)="otherCheck()">Other </span><mat-icon class="filter-icons" (click)="otherCheck()">filter_vintage</mat-icon>
  </section>
</div>

<div class="torrent-table">
  <table mat-table [dataSource]="torrentList" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="title" class="table-row-title">
      <th mat-header-cell *matHeaderCellDef class="table-row-title">Title</th>
      <td mat-cell *matCellDef="let element" class="table-row-title">{{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="category" class="table-row-category">
      <th mat-header-cell *matHeaderCellDef class="table-row-category">Category</th>
      <td mat-cell *matCellDef="let element" class="table-row-category" [ngSwitch]="element.category">
        {{element.category}} 
        <mat-icon *ngIf="element.category == 'other'" class="category-icons">filter_vintage</mat-icon>
        <mat-icon *ngIf="element.category == 'movies'" class="category-icons">movie</mat-icon>
        <mat-icon *ngIf="element.category == 'shows'" class="category-icons">slideshow</mat-icon>
        <mat-icon *ngIf="element.category == 'games'" class="category-icons">games</mat-icon>
        <mat-icon *ngIf="element.category == 'programs'" class="category-icons">mouse</mat-icon>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="date" class="table-row-date">
      <th mat-header-cell *matHeaderCellDef class="table-row-date">Date</th>
      <td mat-cell *matCellDef="let element" class="table-row-date"> {{element.date}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="rowClick(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>
</div>

